* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Main */

.main-container {
  max-width: 1070px;
  width: 100%;
  padding: 0 30px;
}

.main-container-fluid {
  position: relative;
  align-items: center;
  width: 100%;
  /* max-width: 1366px; */
  margin: 0 auto;
}

.main-container-fluid,
.main-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 30px;
  line-height: 33px;
  font-weight: normal;
  padding-top: 10px;
  margin-bottom: 1rem;
}



@media (max-width: 1440px) {
  .flex-between {
    margin: 0 1rem;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .pr-25 {
  padding-right: 25px;
} */

.pb-13 {
  padding-bottom: 13px;
}

sub {
  font-size: 15px;
  vertical-align: middle;
}



p {
  padding-bottom: 10px;
}

.text-center {
  text-align: center;
}

.pt-3 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex-basis: calc(33.33%);
  text-align: center;
}

.flex-item img {
  max-width: 100%;
  height: auto;
}

span.sub-title {
  font-size: 21px;
  color: #000;
  display: block;
  font-weight: 600;
}

span.sub-title:hover {
  color: #242424;
}

.pt-90 {
  padding: 90px 0 0 0;
}

.justify-content-center {
  justify-content: center;
  display: flex;
}


@media (max-width: 768px) {
  /* .main-container {
    padding: 0 30px;
  } */

  .text-banner,
  .text-banner h1 {
    margin-right: 0;
    padding: 15px 0;
  }

  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .main-container-banner {
    /* padding-left: 139px; */
    padding: unset;
    width: 100%;
  }

  .flex-col {
    flex-direction: column;
    align-items: center;
  }

  .flex-item {
    margin-bottom: 1.5rem;
    flex-basis: 100%;
  }
}





span.btn {
  background-color: #1081FF;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

.back-black {
  background: url(https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30rem;
  display: flex;
  flex-direction: column; /* Align elements vertically */
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
}

.signup-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.pt-5 {
  padding-top: 5rem;
}

.flex-item a i {
  padding-bottom: 25px;
}

.p-3 {
  padding: 2rem 0;
}