* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  align-items: center;
}

.content {
  flex: 1;
  order: 1;
}

.image {
  flex: 1;
  order: 2; 
  padding-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .content {
    order: 1;
  }

  .image {
    order: 2;
    padding: 50px 0;
}
}


.main-container {
  max-width: 1070px;
  width: 100%;
  padding: 0 30px;
}

.main-container-fluid {
  position: relative;
  align-items: center;
  width: 100%;
  /* max-width: 1366px; */
  margin: 0 auto;
}

.main-container-fluid,
.main-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
@media (min-width: 769px) {
h1 {
  color: #fff;
  font-size: 5rem;
  line-height: 33px;
  font-weight: normal;
  padding-top: 10px;
  margin-bottom: 1rem;
  font-weight: bold;
  z-index: 1;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    z-index: 1;
  }
  }


@media (max-width: 991px) {
  .flex-between {
    margin: 0 auto;
    text-align: center;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 991px) {
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}

/* .pr-25 {
  padding-right: 25px;
} */

.pb-13 {
  padding-bottom: 13px;
}




p {
  padding-bottom: 10px;
}

.text-center {
  text-align: center;
}

.pt-3 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex-basis: calc(33.33%);
  text-align: center;
}

.flex-item img {
  max-width: 100%;
  height: auto;
}

span.sub-title {
  font-size: 21px;
  color: #000;
  display: block;
  font-weight: 600;
}

span.sub-title:hover {
  color: #242424;
}

.pt-90 {
  padding: 90px 0 0 0;
}

.justify-content-center {
  justify-content: center;
  display: flex;
}


@media (max-width: 575px) {
  .main-container {
    padding: 0;
  }


  .main-container-banner {
    /* padding-left: 139px; */
    padding: unset;
    width: 100%;
  }

  .flex-col {
    flex-direction: column;
    align-items: center;
  }

  .flex-item {
    margin-bottom: 1.5rem;
    flex-basis: 100%;
  }
}





span.btn {
  background-color: #1081FF;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

.back-black {
  background: url(img/thor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  position: relative;
}
.back-black:before {
  background-color: rgb(0 0 0 / 51%);
  content: "";
  /* height: 40rem; */
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.input-container {
  width: 30%;
  padding-left: 2rem;
}

.input-container p {
  color: #000;
  font-weight: 500;
}



.pt-5 {
  padding-top: 5rem;
}

.flex-item a i {
  padding-bottom: 25px;
}

.p-3 {
  padding: 1rem 0;
} 

.navbar {
  background-color: #1B1B1B;
}
nav {
  margin-right: 10px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  list-style: none;
  display: flex;
}

.nav-items li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  padding-left: 35px;
  text-transform: uppercase;
}

footer {
  text-align: center;
  border-top: 1px solid;
  /* border-bottom: 1px solid; */
  padding: 20px 0;
}